
@{
    ViewBag.Title = "GetInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetInfo</h2>
@using (Html.BeginForm())
{
<input type="text" name="hoten" />
<input type="text" name="tuoi" />
<input type="text" name="lop" />
<input type="submit" value="Hien Thi Thong tin" />
}
<h1>Thông tin: @ViewBag.hoten @ViewBag.tuoi @ViewBag.lop</h1>;

