@model List<Product>
@{
    ViewBag.Title = "ProductTable";
}


<div>
    <form method="post">
        <input id="searchTxt" name="Search" />
        <button type="button" id="searchBtn">Search</button>
    </form>
    <button type="button" id="Newbtn">New</button>
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>-</td>
                    <td>@product.Price</td>
                    <td>
                        <button class="editBtn" data-id="@product.ID">Edit</button>
                        <button class="deleteBtn" data-id="@product.ID">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<script>
    $("#searchBtn").click(function () {
        var searchValue = $("#searchTxt").val();
        $.ajax({            
            url: '/Product/ProductTable',
            data: {
                search: searchValue
            }
        })
            .done(function (response) {
                $("#tableContainer").html(response);
        })
            .fail(function (XMLHttpRequest, textStatus, ErroThrown) {
                alert("fail")
         })
    }); 

    $("#Newbtn").click(function () {
        $.ajax({
            url: '/Product/Create',
        })
            .done(function (response) {
                $("#actionContainer").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, ErroThrown) {
                alert("fail")
            })
    });
    $(".editBtn").click(function () {
        $.ajax({
            url: '/Product/Edit',
            data: {
                ID:$(this).attr('data-id')
            }
        })
            .done(function (response) {
                $("#actionContainer").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, ErroThrown) {
                alert("fail")
            })
    });

    $(".deleteBtn").click(function () {

        var confirmDelete = confirm("Bạn Chắc Chắn Muốn Xóa Sản Phẩm Này?");

        if (confirmDelete == true) {
            $.ajax({
                type: 'POST',
                url: '/Product/Delete',
                data: {
                    ID: $(this).attr('data-id')
                }
            })
                .done(function (response) {
                    $("#tableContainer").html(response);
                })
                .fail(function (XMLHttpRequest, textStatus, ErroThrown) {
                    alert("fail")
                })
        }

        
    });
</script>